body {
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
}
 
#name {
       background-color: cornflowerblue;
       color: black;
       border:5px orangered dashed ;
       width: 350px;
       border-radius: 10px;
       box-shadow:15px 25px 40px 5px yellow ;
       padding: 20px;
       margin-left: 100px;
       margin-top: 500px;
       transition: 1s;
}
#name:hover {
           background-color: black;
           color: cornflowerblue;

}

#name1 {
       color: red;

}


#company {
      background-color: white;
      color: black;
      border: 5px red solid;
      width: 200px;
      border-radius: 10px;
      box-shadow: 13px 21px 38px 0px #f3252c;
      padding: 20px;
      margin-left: 625px;
      margin-top: -500px;
      transition: 1.5s;
}

#company:hover {

                background-color: black;
                color: white;
}

  #title1 {
        font-style: inherit;
        text-align: center;
        font-size: xx-large;
        color: blue;
  }

   #title1:hover {
                   color: orangered;
   }

  #about {
         font-style: italic;
  }

  #details {
            background-color: black;
            color: darkgray;
            border: 5px blue dashed;
            width: 350px;
            border-radius: 10px;
            box-shadow: 15px 25px 40px 5px slateblue;
            padding: 20px;
            margin-left: 1025px;
            margin-top: -250px;
            transition: 1s;
  }
  #details:hover {
                   background-color: darkgray;
                   color: black;

  }

  #id {
       color: red;
  }

  #web {
          color: crimson;
          font-style: oblique

  }
   #contact {
           font-size: x-large;
   }

